@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{

    --ff-body: 'Public Sans', sans-serif;

    --fs-200: clamp(0.63rem, calc(0.72rem + -0.09vw), 0.69rem);
    --fs-300: clamp(0.83rem, calc(0.83rem + 0.02vw), 0.84rem);
    --fs-400: clamp(1.00rem, calc(0.96rem + 0.19vw), 1.13rem);
    --fs-500: clamp(1.20rem, calc(1.09rem + 0.45vw), 1.50rem);
    --fs-600: clamp(1.44rem, calc(1.24rem + 0.84vw), 2.00rem);
    --fs-700: clamp(1.73rem, calc(1.40rem + 1.41vw), 2.66rem);
    --fs-800: clamp(2.07rem, calc(1.55rem + 2.22vw), 3.55rem);
    --fs-900: clamp(2.49rem, calc(1.70rem + 3.38vw), 4.74rem);

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --clr-white: hsl(0, 0%, 100%);
    --clr-neutral-light-gray: hsl(0, 0%, 98%);
    --clr-neutral-light-gray-blue: hsl(220, 16%, 96%);
    --clr-neutral-gray-blue: hsl(233, 8%, 62%);

    --clr-primary-bright-cyan: hsl(192, 70%, 51%);
    --clr-primary-lime-green: hsl(136, 65%, 51%);
    --clr-primary-dark-blue: hsl(192, 70%, 51%);
}


body{
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    line-height: 1.6;
}