@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{

    --ff-body: 'Public Sans', sans-serif;

    --fs-200: clamp(0.63rem, calc(0.72rem + -0.09vw), 0.69rem);
    --fs-300: clamp(0.83rem, calc(0.83rem + 0.02vw), 0.84rem);
    --fs-400: clamp(1.00rem, calc(0.96rem + 0.19vw), 1.13rem);
    --fs-500: clamp(1.20rem, calc(1.09rem + 0.45vw), 1.50rem);
    --fs-600: clamp(1.44rem, calc(1.24rem + 0.84vw), 2.00rem);
    --fs-700: clamp(1.73rem, calc(1.40rem + 1.41vw), 2.66rem);
    --fs-800: clamp(2.07rem, calc(1.55rem + 2.22vw), 3.55rem);
    --fs-900: clamp(2.49rem, calc(1.70rem + 3.38vw), 4.74rem);

    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;

    --clr-white: hsl(0, 0%, 100%);
    --clr-neutral-light-gray: hsl(0, 0%, 98%);
    --clr-neutral-light-gray-blue: hsl(220, 16%, 96%);
    --clr-neutral-gray-blue: hsl(233, 8%, 62%);

    --clr-primary-bright-cyan: #2bb7da;
    --clr-primary-lime-green: #31d35c;
    --clr-primary-dark-blue:  #2d314d;

    --clr-gradient: linear-gradient(155deg, var(--clr-primary-lime-green) 0%, var(--clr-primary-bright-cyan) 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}
 
* {
    margin: 0;
}
 
html, body {
    height: 100%;
    scroll-behavior: smooth;
}
 
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}
 
a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}
 
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
 
input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
 
#root, #__next {
    isolation: isolate;
}

body{
    font-family: var(--ff-body);
    font-weight: var(--fw-400);
    font-size: var(--fs-400);
    line-height: 1.6;
    background-color: var(--clr-neutral-light-gray);
}

h1{
    font-size: var(--fs-800);
    font-weight: var(--fw-400);
    line-height: 1.1;
}

h2{
    font-size: var(--fs-700);
    font-weight: var(--fw-400);
    line-height: 1.2;
}

h3{
    font-size: var(--fs-600);
    font-weight: var(--fw-400);
    line-height: 1.2;
}

h4{
    font-size: var(--fs-500);
    font-weight: var(--fw-400);
    line-height: 1.2;
}

button {
    
    cursor: pointer;
    border: none;
    background-color: transparent;

}

.btn{
    --_spacing: 1.25rem;
    --_radius: 2.5rem;
    --_bg-color-gradient: var(--clr-gradient);
    --_text-color: var(--clr-white);
    color: var(--_text-color);

        
    padding: calc(var(--_spacing) / 2) var(--_spacing);
    border-radius: var(--_radius);
    font-size: var(--fs-300);
    font-weight: var(--fw-700);
    background-image: var(--_bg-color-gradient);
}

.container{
    width: min(100% - 2rem, 85rem);
    margin-inline: auto;
}

.flow > * + *{
    margin-top: var(--flow-space,1em);
}

.flow-big > * + *{
    margin-top: 8rem;
}